{% extends 'base.html' %}
{% block title %}<title>Routing Wizard</title> {% endblock title%}

{% block head %}

<script src="static/routing_wizard.js" type="application/javascript"></script>

<link rel="stylesheet" href="static/routing_wizard.css">

{% endblock head %}



{% block content %}

<div class="container">


  <div class="row">
    <ul class="list-group list-unstyled">
      <li> <h2>Instructions:</h2> </li>
      <li>Upload CSV file containing columns "location", "latitude", "longitude", and "budget".</li>
      <li>The first entry of your file should be your dispatch location.</li>
      <li>Alternatively, paste data into the text area or select from sample data bellow.</li>
      </ul>
    </div>
    <div class="row mt-5">
      <ul class="list-group list-unstyled">
        <li>
          <label for="file" class="form-label">Upload File</label>
          <input type="file" class="form-control-file" id="file" accept=".csv" name="file" />
        </li>
        <p> OR:</p>
        <li>
          <button type="button" id="data1" class="btn btn-primary load-data-set">Load Test Dataset 1</button>
          <button type="button" id="data2" class="btn btn-primary load-data-set">Load Test Dataset 2</button>
          <button type="button" id="data3" class="btn btn-primary load-data-set">Load Test Dataset 3</button>
        </li>
      </ul>
    </div>
    <div class="row mt-5">

        <label for="data-area">Data input</label>
        <textarea class="form-control" rows=15 name="data-area" id="data-area"></textarea>



      <button type="button" id="submit-data" class="btn btn-primary">Submit</button>
    </div>

</div>

<div id="image-location">


</div>


{% endblock content %}